<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IRKS.Properties.Settings.projDBConnectionString" connectionString="Data Source=DESKTOP-A02U3PR;Initial Catalog=projDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IRKS.Properties.Settings.DBConnectionString" connectionString="Data Source=DESKTOP-A02U3PR;Initial Catalog=DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>